main {
  overflow: hidden;
  width: 100%;
  > * {
    margin-bottom: 1.6rem;

    section {
      > *{
        margin-bottom: .8rem !important;
      }
    }
  }
}

#regResult {
  overflow: scroll hidden;
  padding: 0.4rem;
}